[submodule "deps/3rd/libevent"]
	path = deps/3rd/libevent
	url = https://github.com/libevent/libevent
	ignore = all
[submodule "deps/3rd/jsoncpp"]
	path = deps/3rd/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
	ignore = all
[submodule "deps/3rd/googletest"]
	path = deps/3rd/googletest
	url = https://github.com/google/googletest
	ignore = all
[submodule "deps/3rd/benchmark"]
	path = deps/3rd/benchmark
	url = https://github.com/google/benchmark
	ignore = all
